@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: dana, sans-serif !important;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@layer components {
  .mainView {
    @apply max-w-[1280px] mx-auto;
  }

  /* برای زمانی که عرض کمتر از 1310px باشه → padding کن */
  @media (max-width: 1310px) {
    .mainView {
      @apply px-4; 
    }
  }
}

.custom-pagination .swiper-pagination-bullet {
  @apply bg-[#e5d7c4] opacity-70 w-3 h-3 mx-1 rounded-full transition-all;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-[#CFBB99] opacity-100 w-8 h-3;
}
